<div class="login_container">
  <h3>Login</h3>

  <div class="login_container">
    <%= form_with(url: sessions_path, local: true) do |form| %>
      <%= form.label :username_or_email %>
      <%= form.text_field :username_or_email, required: true %>

      <%= form.label :password %>
      <%= form.password_field :password, required: true %>

      <%= form.submit 'Login' %>
    <% end %>
  </div>

  <div class="login">
    <%= link_to "Don't have an account?", new_user_path %>
  </div>

</div>