<%= form_with(model: [@category, @task], local: true, url: @task.persisted? ? category_task_path(@category, @task) : category_tasks_path(@category), action: @task.persisted? ? category_tasks_path(@category) : category_tasks_path(@category), data: {turbo: false}) do |form| %>

  <div class="task_inputs_container">
    <div class="title_field">
      <strong><%= form.label :title %></strong>
      <%= form.text_field :title %>
    </div>

    <div class="description_field">
      <strong><%= form.label :description %></strong>
      <%= form.text_area :description %>
    </div>

    <div class="due_date_field">
      <strong><%= form.label :due_date %></strong>
      <%= form.date_field :due_date %>
    </div>

    <div class="submit_button">
      <%= form.submit %>
    </div>

    <div id="error_explanation">
      <% if @task.errors.any? %>
        <% @task.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @task.persisted? %>
  <div class="delete_task_container">
    <%= button_to 'Delete', category_task_path(@category, @task), :method => :delete, :class => "delete_task" %>
  </div>
<% end %>