<h1><%= @task.title %></h1>

<p><strong>Description:</strong> <%= @task.description %></p>

<%= link_to 'Edit', edit_category_task_path(@category, @task) %> |
<%= link_to 'Delete Task', task_path(task), method: :delete, data: { confirm: 'Confirm Delete?' } %> |
<%= link_to 'Back', category_path(@category) %>