<%= form_with(model: @category, url: @category.persisted? ? category_path(@category) : categories_path, local: true, data: { turbo: false }) do |form| %>
    
  <div class="new_category_container">
    <div>
      <strong><%= form.label :name %></strong>
      <%= form.text_field :name, :id => 'category_input' %>
    </div>

      <%= form.submit :id => "category_button" %>
  </div>

  <% if @category.errors.any? %>
    <div class="error_explanation">
      <% @category.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    </div>
  <% end %>

<% end %>
