<%= form_with(model: @category, url: category_path(@category), local: true) do |form| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <% @category.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
    <% if @category.errors[:name].present? %>
      <p class="error"><%= @category.errors[:name].first %></p>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
