<div class="hi_user">
  <h3>Hello, <%= current_user.first_name %>!</h3>
  <%= button_to "Logout", logout_sessions_path, method: :delete, :class => 'logout' %>
  </div>

<div class="categories_notepad_container">
  <div class="categories_container"> 
    <h3>Categories</h3>

    <% if @categories.empty? %>
      <p class="opening_message">To start, create a New Category.</p>
    <% end %>

    <div class="categories_list">
      <% @categories.each do |category| %>
        <li class="tasks_list">
          <%= link_to category.name, category_path(category), :id => "category_name" %>
          <div class="category_actions">
              <%= link_to 'Tasks Due Today', due_today_category_tasks_path(category), :id=>"due_tasks" %> |
              <%= link_to 'Edit', edit_category_path(category), :id =>"edit_category" %> |
              <%= button_to 'Delete', category_path(category), method: :delete, :id=>"delete_category" %>
            </div>
        </li>
      <% end %>
    </div>

    <div>
      <%= link_to 'New Category', new_category_path, :id=>"new_category" %>
    </div>
  </div>

<div class="notepad_container">
  <h3>Your Notepad</h3>
  <form data-turbo-frame="notepad">
    <p id="notepad_text">Type your thoughts here...</p>
    <textarea id="notepad"><%= current_user.note_content %></textarea>
    <button id="saveNote">
      <%= current_user.note_content.present? ? 'Update' : 'Save' %>
    </button>
  </form>
</div>


</div>