<h1>Categories</h1>

<div class="categories_list">
  <% @categories.each do |category| %>
    <li>
      <%= link_to category.name, category_path(category) %>
      <%= link_to 'View Tasks Due Today', due_today_category_tasks_path(category), class: "due_tasks" %>
        <div class="Category_actions">
          <%= link_to 'Edit', edit_category_path(category), class: "edit_category" %>
          <%= link_to 'Delete', category_path(category), method: :delete, class: "delete_category" %>
        </div>
    </li>
  <% end %>
</div>

<div class="new_category_link_container">
  <%= link_to 'New Category', new_category_path, :class=>"new_category" %>
</div>